* {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

html {
	scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  background-color: #E6E6E6;
}


body::before {
  background-image: url("../public/images/oldpaper.jpg");
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  content: "";
  opacity: 0.35;
}

.App {
  position: relative;
}

.escudo {
  width: auto;
  height: 70px;
  position: relative;
  padding-right: 2rem;
}

header {
  position: sticky;
  box-shadow: 1px 5px 10px 1px #888888;
  height: 170px;
  padding-left: 1rem;
  background-color: #C5A880;
  z-index: 1;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header::before {
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
  background: url("../public/images/firma2.jpg");
  background-size: cover;
  position: absolute;
  background-position: center;
}

header h1 {
  position: relative;
  font-family: La Belle Aurore;
  color: #430000;
  text-shadow: 1px 1px 10px #D5CEA3;
  font-size: 60px;
  height: 90px;
  margin: 0;
  padding: .5rem;
  font-weight: lighter;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigate ul{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.navigate li{
  position: relative;
  display: flex;
  padding: 2rem;
  font-weight: bolder;
}


.navigate li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.navigate li a {
  text-decoration: none;
  color: black;
  height: 1.5rem;
  width: 10rem;
  text-align: center;
}

.p-historia {
  padding: 1rem;
  width: 85%;
}

.p-historia p{
  font-size: 18px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p-historia h1 {
  font-family: La Belle Aurore;

}


.p-quienes-somos {
  padding: 1rem;
  width: 85%;
}


.p-quienes-somos h1 {
  font-family: La Belle Aurore;
}

.p-quienes-somos p {
 font-size: 18px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.sta-teresa-img {
  width: 75%;

}
@media only screen and (max-width: 1000px) {

  header {
    height: 90px;
  }
  .escudo {
    height: 30px;
    width: auto;
  }
  header h1 {
      font-size: 30px;
      height: 50px;
    }

    .navigate li{
      font-size: 10px;
      padding: 0;
    }
  }

  @media only screen and (max-width: 550px) {


    header h1 {
      margin-top: .5rem;
        font-size: 15px;
        height: 30px;
      }
      .escudo {
        height: 20px;
        width: auto;
        padding: .5rem;
      }
      .navigate li{
        font-size: 10px;
        padding-top: 1rem;
      }
    }